# We use Pip over Poetry as this repository is not intended to be a standalone Python package. I.e. we do not have
# any intention to distribute it on PyPi.
# Also, a project relying on this repository can point to this external requirement.txt,
# even from its Poetry's venv. We cannot do that with Poetry, as it doesn't support sub-venvs.
# All versions are pinned so we have ultimate control over reproducibility.
autopep8 == 2.0.4
blacken-docs == 1.16.0
bump-my-version == 0.12.0
check-wheel-contents == 0.6.0
docformatter == 1.7.5
# https://mdformat.readthedocs.io/en/stable/users/plugins.html
mdformat == 0.7.17
mdformat_admon == 1.0.2
mdformat-black == 0.1.1
mdformat-config == 0.1.3
# Use the unreleased version of mdformat_deflist, which is relaxing capped dependency on
# mdit-py-plugins < 0.4 . This allows for mdformat-admon to be upgraded to 1.0.2. See:
# https://github.com/executablebooks/mdformat-deflist/issues/4
# https://github.com/executablebooks/mdformat-deflist/pull/5
# https://github.com/KyleKing/mdformat-admon/issues/15
# mdformat_deflist == 0.X.X
mdformat_deflist @ git+https://github.com/kdeldycke/mdformat-deflist.git@uncap-mdit-py-plugins-version
mdformat_footnote == 0.1.1
mdformat_frontmatter == 2.0.8
# Use the unreleased version of mdformat-gfm, which is relaxing capped dependency on
# mdit-py-plugins < 0.4 . This allows for mdformat-admon to be upgraded to 1.0.2. See:
# https://github.com/hukkin/mdformat-gfm/issues/27
# https://github.com/hukkin/mdformat-gfm/pull/28
# https://github.com/KyleKing/mdformat-admon/issues/15
# mdformat-gfm == 0.X.X
mdformat-gfm @ git+https://github.com/hukkin/mdformat-gfm.git@e60f449674d8f8dc91f9e348dd1c08d1ddc244ff
# Use the unreleased version of mdformat_myst, which is relaxing capped dependency on
# mdit-py-plugins < 0.4 . This allows for mdformat-admon to be upgraded to 1.0.2. See:
# https://github.com/executablebooks/mdformat-myst/issues/27
# https://github.com/executablebooks/mdformat-myst/pull/
# https://github.com/KyleKing/mdformat-admon/issues/15
# mdformat_myst == 0.X.X
mdformat_myst @ git+https://github.com/kdeldycke/mdformat-myst.git@uncap-mdit-py-plugins-version
mdformat_pelican == 0.1.0
mdformat_pyproject == 0.0.1
mdformat-shfmt == 0.1.0
mdformat_simple_breaks == 0.0.1
mdformat_tables == 0.4.1
mdformat-toc == 0.3.0
# XXX Fix formatting of HTML in Markdown code blocks which adds extra doctype.
# This has been proposed upstream at: https://github.com/hukkin/mdformat-web/pull/5
# So waiting for the PR to be merged and a new release to be published.
# mdformat-web > 0.1.0
mdformat-web @ git+https://github.com/kdeldycke/mdformat-web.git@fix-extra-html-tags
mypy == 1.7.0
nuitka == 1.8.6
ordered-set == 4.1.0
pipdeptree == 2.13.1
poetry == 1.7.1
PyDriller == 2.5.1
ruff == 0.1.5
tomli == 2.0.1 ; python_version < "3.11"
twine == 4.0.2
yamllint == 1.33.0
zstandard == 0.22.0
