---
name: Tests
"on":
  push:
    branches:
      - main
  pull_request:
  schedule:
    # Run tests every Monday at 9:17 to catch regressions.
    - cron: "17 9 * * 1"

concurrency:
  # Group workflow jobs so new commits cancels in-progress execution triggered by previous commits. Source:
  # https://mail.python.org/archives/list/pypa-committers@python.org/thread/PCBCQMJF64JGRBOX7E2EE4YLKHT4DI55/
  # https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:

  tests:
    strategy:
      fail-fast: false
      matrix:
        # Available OS: https://github.com/actions/runner-images#available-images
        os:
          - ubuntu-24.04     # x86
          - ubuntu-24.04-arm # arm64
          - ubuntu-22.04     # x86
          - ubuntu-22.04-arm # arm64
          - macos-15         # arm64
          - macos-13         # x86
          - windows-2022     # x86
          - windows-2019     # x86
        # Available Python: https://github.com/actions/python-versions/blob/main/versions-manifest.json
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        include:
          # Default all jobs as stable, unless marked otherwise below.
          - state: stable
          # XXX There is an issue with the ubuntu-22.04-arm image:
          #   Error: Defaulting to user installation because normal site-packages is not writeable
          - state: unstable
            os: ubuntu-22.04-arm
          # XXX PyO3 does not support 3.14 yet: https://github.com/PyO3/pyo3/issues/4662
          #   error: the configured Python interpreter version (3.14) is
          #   newer than PyO3's maximum supported version (3.13)
          - state: unstable
            python-version: "3.14"
    runs-on: ${{ matrix.os }}
    # We keep going when a job flagged as not stable fails.
    continue-on-error: ${{ matrix.state == 'unstable' }}
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Install uv
        run: |
          python -m pip install -r https://raw.githubusercontent.com/kdeldycke/workflows/main/requirements/uv.txt
      - name: Install project
        run: |
          uv --no-progress venv --python ${{ matrix.python-version }}
          uv --no-progress sync --frozen --extra test

      # CLI tests.
      - name: gha-utils --help
        run: |
          uv --no-progress run --frozen -- gha-utils --help
      - name: gha-utils --verbosity DEBUG --version
        run: |
          uv --no-progress run --frozen -- gha-utils --verbosity DEBUG --version
      - name: gha-utils --verbosity INFO metadata
        run: |
          uv --no-progress run --frozen -- gha-utils --verbosity INFO metadata
      - name: gha-utils --verbosity INFO changelog
        # XXX This command fail on Windows as it try to print emojis to the console, from the source changelog:
        # UnicodeEncodeError: 'charmap' codec can't encode character '\U0001f64f' in position 39913: character maps
        # to <undefined>
        if: runner.os != 'Windows'
        run: |
          uv --no-progress run --frozen -- gha-utils --verbosity INFO changelog
      - name: gha-utils --verbosity INFO mailmap-sync
        run: |
          uv --no-progress run --frozen -- gha-utils --verbosity INFO mailmap-sync

      - name: Unittests
        run: |
          uv --no-progress run --frozen -- pytest

      - name: Codecov - coverage
        uses: codecov/codecov-action@v5.3.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Codecov - test results
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1.0.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}